.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.centered-image {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  animation: spin-grow-shrink 2s linear infinite;
}

@keyframes spin-grow-shrink {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}
